*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slideshowContainer {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlide {
  border: solid 1px red;
  margin-bottom: 40px;

  position: relative;
  display: flex;
  align-items: center;
}

.slideImage {
  height: 100%;
  width: 100%;
}

/* Slide's text */
.mySlide > p {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  color: white;
  background-color: black;
  padding: 0.2rem;
  transform: translate(-50%, 0%);
}

/* next and prev buttons */
.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0%, -90%);
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 20px;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  /* prevent text highlighting */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.next {
  right: 0%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.811);
  transform: scale(1.1) translate(0%, -80%);
}

.prev:active,
.next:active {
  transform: scale(1.2) translate(0%, -75%);
}

.hidden {
  display: none;
}
